<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="./output.css" rel="stylesheet"> -->
     {% load static %}
    <link href="{% static 'output.css' %}" rel="stylesheet">
    <title>{% block title %}NutriDash{% endblock %}</title>  
    {% block extra_head %}{% endblock %}  
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="relative w-full h-[100vh] flex justify-center items-center">
        <div class="relative w-full h-[80vh] border border-black rounded-md mx-32 flex font-custom text-white bg-green-900">

            <!-- Sidebar -->
            <Nav class="relative bg-black h-full text-white flex flex-col px-2 text-xs">                
                    <h3 class="text-xl font-semibold text-center mt-4 mx-2 underline ">NutriDash</h3>
                    <div class="h-full flex flex-col justify-between">
                        <div class="text-white flex flex-col w-full items-center h-8 mt-12 ">                        
                            <div class="flex my-2">
                                <!-- <img src="" class="h-8" alt="home icon" > -->
                                <a href="{% url 'home' %}" class="text-xs hover:text-red-800">Home</a>
                            </div>

                            <!-- <div class="flex my-2">
                                <img src="" class="h-8" alt="home icon" >
                                <a href="" class="text-xs hover:text-red-800">Overview</a>
                            </div>        -->

                            <div class="flex my-2">
                                <!-- <img src="" class="h-8" alt="home icon" > -->
                                <a href="" class="text-xs hover:text-red-800">Reports & Analytics</a>
                            </div>                                                                        
                            <div class="flex my-2">
                                <!-- <img src="" class="h-8" alt="home icon" > -->
                                <a href="{% url 'settings' %}" class="text-xs hover:text-red-800">settings</a>
                            </div>   
                        </div>                                     
                        <div class="text-white text-xs w-full items-center mb-12 flex flex-col items-center">
                            <div class="border border-gray-100 w-2/3 my-4"></div>                                                                                                                            
                            <a href="" class="hover:text-red-800">Don Raburu</a>
                            <a href="" class="hover:text-red-800">Logout</a>      
                        </div>        
                    </div>                      
            </Nav>

            <!-- Main section -->
            <div class="flex flex-col w-full  ">
                    <div class="w-full flex justify-around text-sm py-4 bg-green-900 text-white">
                        <div class="flex justify-start items-center h-full w-1/2 ">
                            <h2 class="text-xl mx-4 font-semibold">Dashboard</h2>
                            <input class="mx-4 px-12 py-1 border rounded-md  border-gray-300 shadow-2xl text-xs" placeholder="Search"/>
                        </div>
                    <div class="flex justify-end w-1/2 h-full">
                        <p class="">Dashboard Report</p>
                        <p class="px-12">ACCOUNT</p>
                    </div>
                    </div>
            
                    <!-- main content  -->
                    <main class="relative ">
                        {% block content %}
                        {% endblock %}
                    </main>
                    
                    {% block extra_js %}{% endblock %}
            </div>


            </div>
            </div>            
            </div>
            
        </div>
    </div>
</body>
</html>